//Variables

$dark: #1d1d1d; 
$white: #ffffff;
$headerbg: #861713;

//Fonts
$font-header:'Nunito', sans-serif;
$font2:  'Roboto', sans-serif;;
////////////////////////////////////////////
*{
    padding:0;
    margin:0;
}
body{
    height:100%;
}

.custom-navbar{
    padding-top: 40px;
    padding-bottom: 20px;
    
    .navbar-brand, .nav-link{
        color: $white !important;
        font-family: $font-header;
    }
    .nav-link{
        padding: 15px !important;
        transition: .2s all;
        &:hover{
            background-color: $white;
            color: black !important;
            transition-timing-function: linear;
        }
    }
    @media (max-width: 575px) {
        .nav-link{
            color: $white;
         
        }
        .navbar-toggler {
            padding: .45rem .65rem;
            font-size: 1.25rem;
            line-height: 1;
            background-color: $white;
            border: 1px solid $white;
            border-radius: .25rem;
            outline: none;
        }
        .navbar-nav {
            text-align: center;
            background-color: #650804;
            margin-top: 20px;
        }
        
    }
}
.section-header{
    h2{
        font-family: $font-header;
        font-size: 58px;
        font-weight: 600;
        color: $white;
        margin-bottom: 30px;
    }
    p{
        font-family: $font2;
        font-size: 24px;
        font-weight: 400;
        color: $white;
        margin-bottom: 60px;
    }
    @media (max-width: 575px) {
        h2{
            font-size: 38px;
        }
        p{
            font-size:18px;
        }
    }
}
.custom-btn{
    text-decoration: none;
    color: $white;
    letter-spacing: 2px;
    border: 3px solid $white;
    padding: 18px 58px;
    font-family:$font-header;
    transition: .2s all;
    &:hover{
        color: black;
        text-decoration: none;
        background-color: $white;
        transition-timing-function: ease-in-out;
    }
    @media(max-width: 575px){
        padding: 16px 44px;
    }
}

.header-wrapper{
    padding: 100px 0;
    padding-top: 200px;
    background-color: $headerbg;
    .header-wrap{
        .header-content{
           transform: translateY( calc( 100% - 85% ) );
        }
    }
    
    @media(max-width: 575px){
        padding-top: 120px;
        .img-content{
            margin-top: 120px;
        }
    }
}

.second-wrapper{
    background-color: black;
    padding: 200px 0;
    padding-top: 200px;
    
    .second-wrap{
        .second-content{
            transform: translateY( calc( 100% - 85% ) );
        }
    }
    @media(max-width: 575px){
        padding-top: 120px;
    }
}

.third-wrapper{
    padding: 100px 0;
    padding-top: 200px;
    background-color: #321d23;
    .third-wrap{
        
        .third-content{
            transform: translateY( calc( 100% - 85% ) );
        }
    }
    @media(max-width: 575px){
        padding-top: 120px;
        .img-content{
            margin-top: 120px;
        }
    }
}

footer{
    padding: 25px 0;
    background-color: #233244;
    color: #ffffdb;
    .copyright{
        p{
            font-family: $font2;
            margin: 0;
        }
    }
    .footer-content{
        
        .social{
            display: flex;
            place-content: flex-end;        
            ul{
                display: inline-flex;
                margin: 0;
                li{
                    list-style-type: none;
                    padding: 0 10px;
                    a{
                        text-decoration: none;
                        font-size: 18px;
                        color: #ffffdb !important;
                        transition: .2s all;
                        &:hover{
                            color: $white !important;
                            transition-timing-function: linear;
                        }
                    }
                }
            }
        }
    }
}


// ABOUT PAGE STYLING
