* {
  padding: 0;
  margin: 0;
}

body {
  height: 100%;
}

html {
  scroll-behavior: smooth;
}

.custom-navbar {
  padding-top: 40px;
  padding-bottom: 20px;
}

.custom-navbar .navbar-brand, .custom-navbar .nav-link {
  color: #ffffff !important;
  font-family: "Nunito", sans-serif;
}

.custom-navbar .nav-link {
  padding: 15px !important;
  -webkit-transition: .2s all;
  transition: .2s all;
}

.custom-navbar .nav-link:hover {
  background-color: #ffffff;
  color: black !important;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
}

@media (max-width: 575px) {
  .custom-navbar .nav-link {
    color: #ffffff;
  }
  .custom-navbar .navbar-toggler {
    padding: .45rem .65rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: .25rem;
    outline: none;
  }
  .custom-navbar .navbar-nav {
    text-align: center;
    background-color: #233244;
    margin-top: 20px;
  }
}

.section-header h2 {
  font-family: "Nunito", sans-serif;
  font-size: 58px;
  font-weight: 600;
  color: #ffffff;
  margin-bottom: 30px;
}

.section-header p {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: 400;
  color: #ffffff;
  margin-bottom: 60px;
}

@media (max-width: 575px) {
  .section-header {
    margin-bottom: 50px;
  }
  .section-header h2 {
    font-size: 36px;
    text-align: center;
  }
  .section-header p {
    font-size: 16px;
    text-align: center;
  }
}

@media (max-width: 575px) {
  .buttonn {
    text-align: center;
  }
}

.custom-btn, .custom-btn2 {
  text-decoration: none;
  color: #ffffff;
  letter-spacing: 2px;
  border: 3px solid #ffffff;
  padding: 18px 58px;
  font-family: "Nunito", sans-serif;
  -webkit-transition: .2s all;
  transition: .2s all;
}

.custom-btn:hover, .custom-btn2:hover {
  color: black;
  text-decoration: none;
  background-color: #ffffff;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
}

@media (max-width: 575px) {
  .custom-btn, .custom-btn2 {
    padding: 16px 44px;
  }
}

.header-wrapper {
  padding: 100px 0;
  padding-top: 200px;
  background-color: #861713;
}

.header-wrapper .header-wrap .header-content {
  -webkit-transform: translateY(calc( 100% - 85%));
          transform: translateY(calc( 100% - 85%));
}

@media (max-width: 575px) {
  .header-wrapper {
    padding-top: 100px;
  }
  .header-wrapper .img-content {
    margin-top: 80px;
  }
}

.second-wrapper, .contact-wrapper {
  background-color: black;
  padding: 200px 0;
  padding-top: 200px;
}

.second-wrapper .second-wrap .second-content, .contact-wrapper .second-wrap .second-content {
  -webkit-transform: translateY(calc( 100% - 85%));
          transform: translateY(calc( 100% - 85%));
}

@media (max-width: 575px) {
  .second-wrapper, .contact-wrapper {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .second-wrapper .img-content, .contact-wrapper .img-content {
    margin-bottom: 80px;
  }
}

.third-wrapper {
  padding: 100px 0;
  padding-top: 200px;
  background-color: #321d23;
}

.third-wrapper .third-wrap .third-content {
  -webkit-transform: translateY(calc( 100% - 85%));
          transform: translateY(calc( 100% - 85%));
}

@media (max-width: 575px) {
  .third-wrapper {
    padding-top: 60px;
  }
  .third-wrapper .img-content {
    margin-top: 100px;
  }
}

footer {
  padding: 25px 0;
  background-color: #233244;
  color: #ffffdb;
}

footer .copyright p {
  font-family: "Roboto", sans-serif;
  margin: 0;
}

footer .footer-content .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-content: flex-end;
}

footer .footer-content .social ul {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 0;
}

footer .footer-content .social ul li {
  list-style-type: none;
  padding: 0 10px;
}

footer .footer-content .social ul li a {
  text-decoration: none;
  font-size: 18px;
  color: #ffffdb !important;
  -webkit-transition: .2s all;
  transition: .2s all;
}

footer .footer-content .social ul li a:hover {
  color: #ffffff !important;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
}

@media (max-width: 575px) {
  footer .footer-content {
    text-align: center;
  }
  footer .footer-content .social {
    place-content: center;
    margin-top: 15px;
  }
}

#about-header {
  background-color: #ef8ad2;
}

@media (max-width: 575px) {
  #about-header .img-content {
    margin-top: 40px;
  }
}

#service-header {
  background-color: #071012;
}

#service-header .service-table table {
  color: #ffffff;
  width: 100%;
  border-collapse: separate;
}

#service-header .service-table table tr {
  font-family: "Roboto", sans-serif;
}

#service-header .service-table table tr th {
  font-family: "Nunito", sans-serif;
  font-size: 24px;
  padding: 10px 0;
}

#service-header .service-table table tr td {
  margin: 10px 0;
  padding: 5px;
}

#service-header .service-table table tr:nth-child(even) {
  background-color: #4d4b4b3b;
}

@media (max-width: 575px) {
  #service-header .service-table {
    margin-bottom: 80px;
  }
}

.custom-btn2 {
  color: #060505;
  border: 3px solid #000000;
  border-radius: 0;
}

.custom-btn2:hover {
  color: #ffffff;
  text-decoration: none;
  background-color: black;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
}

#contact-header {
  background-color: #434447;
}

.contact-wrapper .contact-wrap .contact-form form {
  background-color: #ffffff;
  border-radius: 7px;
  padding: 70px 100px;
}

.contact-wrapper .contact-wrap .contact-form form input[type="text"], .contact-wrapper .contact-wrap .contact-form form input[type="email"] {
  border-radius: 0px;
  margin-bottom: 25px;
}

.contact-wrapper .contact-wrap .contact-form form input[type="text"]::-webkit-input-placeholder, .contact-wrapper .contact-wrap .contact-form form input[type="email"]::-webkit-input-placeholder {
  font-family: "Roboto", sans-serif;
}

.contact-wrapper .contact-wrap .contact-form form input[type="text"]:-ms-input-placeholder, .contact-wrapper .contact-wrap .contact-form form input[type="email"]:-ms-input-placeholder {
  font-family: "Roboto", sans-serif;
}

.contact-wrapper .contact-wrap .contact-form form input[type="text"]::-ms-input-placeholder, .contact-wrapper .contact-wrap .contact-form form input[type="email"]::-ms-input-placeholder {
  font-family: "Roboto", sans-serif;
}

.contact-wrapper .contact-wrap .contact-form form input[type="text"]::placeholder, .contact-wrapper .contact-wrap .contact-form form input[type="email"]::placeholder {
  font-family: "Roboto", sans-serif;
}

.contact-wrapper .contact-wrap .contact-form form input[type="text"]:focus, .contact-wrapper .contact-wrap .contact-form form input:focus[type="email"] {
  border-color: #40fa57;
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
}

.contact-wrapper .contact-wrap .contact-form form label {
  font-family: "Roboto", sans-serif;
}

.contact-wrapper .contact-wrap .contact-form form input[type="email"] {
  margin-top: 25px;
}

.contact-wrapper .contact-wrap .contact-form form .custom-control-input:checked ~ .custom-control-label::before {
  color: #fff;
  border-color: #4bff72;
  background-color: #40ff57;
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
}

.contact-wrapper .contact-wrap .contact-form form .buttonn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-content: center;
}
/*# sourceMappingURL=style.css.map */